@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* FONTS =======================================================================================*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
    max-width: 100%;
    max-height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
body{
    /* background: #703D1D; */
}
.wrapper{
    /* display: flex; */
    /* flex-direction: column; */
    height: 100%;
    width: 100%;
    min-height: 100%;
}
.game{
    display: flex;
    background: #703D1D;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100%;

}
.game__content{
    height: 100%;   
    width: 100%;
    flex: 1 1 auto;

}
.game__container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.header {
    /* min-height: 20px; */
    flex: 0 0 auto;
}
.footer {
    /* min-height: 20px; */
    flex: 0 0 auto;
}

.board {
    width: 95%;
    height: 95%;
    background-color: #000;
    margin-bottom: 20px;
    margin-top: 20px;
    background: url(../board-temp/fullBoard.png) center center / 100% 100% no-repeat;
}

.timer-body__counter{
  display: flex;
}
.timer__minutess{
  position: relative;
  padding: 0 5px;
}
.timer__secondss{
  position: relative;
  padding: 0 5px;
}
.timer__minutess:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -2px;

}



/*<Media>=======================================================*/
.container {
    width: 1140px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
      .board{
          width: 700px;
          height: 700px;
      }
  }
  @media (max-width: 1200px) {
    .container {
      width: 960px;
    }
    .board{
        width: 700px;
        height: 700px;
    }
  }
  @media (max-width: 1100px) {
    .board{
        width: 660px;
        height: 660px;
    }
  }
  @media (max-width: 992px) {
    .container {
      width: 720px;
    }
    .board{
        width: 600px;
        height: 600px;
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 540px;
    }
    .board{
        width: 600px;
        height: 600px;
    }
  }
  @media (max-width: 668px) {
    .container {
        width: 100%;
        padding: 0 15px;
      }
    .board{
        width: 580px;
        height: 580px;
    }
  }
  @media (max-width: 600px) {
    .container {
      width: 100%;
    }
    .board{
        width: 450px;
        height: 450px;
    }
  }
  @media (max-width: 426px) {
    .container {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .board{
        width: 100%;
        height: 360px;
    }
  }
  @media (max-width: 426px) {
    .game{
      background-color: #fff;
    }
    .container {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .board{
        width: 100%;
        height: 250px;
        background: #B38866;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
          "A B C D E F J H"
          "A B C D E F J H"
          "A B C D E F J H"
          "A B C D E F J H"
          "A B C D E F J H"
          "A B C D E F J H"
          "A B C D E F J H"
          "A B C D E F J H";

    }
    .board__row--A{
      position: relative;
      grid-area: A;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--A:nth-child(odd) {
      background-color: #F7DFBD;
    }
    .board__row--B{
      grid-area: B;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--B:nth-child(even) {
      background-color: #F7DFBD;
    }
    .board__row--C{
      grid-area: C;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--C:nth-child(odd) {
      background-color: #F7DFBD;
    }
    .board__row--D{
      grid-area: D;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--D:nth-child(even) {
      background-color: #F7DFBD;
    }
    .board__row--E{
      grid-area: E;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--E:nth-child(odd) {
      background-color: #F7DFBD;
    }
    .board__row--F{
      grid-area: F;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--F:nth-child(even) {
      background-color: #F7DFBD;
    }
    .board__row--J{
      grid-area: J;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--J:nth-child(odd) {
      background-color: #F7DFBD;
    }
    .board__row--H{
      grid-area: H;
      display: grid;
      grid-template: repeat(8, 1fr) / 1fr;
    }
    .board__item--H:nth-child(even) {
      background-color: #F7DFBD;
    }
    .game__container {
      flex-direction: column;
      justify-content: center;
      
    } 
    .board__markup{
      width: 100%;
      height: 100%;
      
    }
    .game__header{
      /* flex: 1 1 auto; */
      max-height: 300px;
      /* overflow: hidden; */
    }
    .game__header-top-inner{
      position: relative;
      display: grid;
      align-items: center;
      max-height: 80px;
      max-width: 100%;
      margin-top: 40px;
      padding: 0 8px;
      grid-template: 1fr / 30px 1fr 30px;
      justify-content: center;
      padding-bottom: 35px;

    }
    .game__header-top-inner::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      right: 0;
      left: 0;
      background: #D2D2D2;
    }
    .game__header-settings{
      width: 30px;
      height: 30px;
      justify-self: flex-start;
      cursor: pointer;
      outline: none;
      border: none;
      background: url(../board-temp/settings.webp) center center / 100% 100% no-repeat;
    }
    
    .game__content{
      display: flex;
      flex-direction: column;
      /* align-items: center; */
    }
    .game__container{
      flex-direction: row;
      width: unset;
      height: unset;
    }
    .game__footer{
      /* flex: 1 1 auto; */
    }
    .game__header-title{
      text-align: center;
      font-size: 26px;
      justify-self: center;
      font-family: 'Source Sans Pro', sans-serif;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      color: #403940;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      word-wrap: break-word;
    }
    .header__bottom{
      overflow: hidden;
    }
    .header__bottom-inner{
      margin-top: 6px;
      padding: 0 40px;
      display: flex;
      margin-bottom: 25px;
    }
    .profileimg{
      min-width: 54px;
      min-height: 54px;
      height: 54px;
      width: 54px;
      max-height: 62px;
      max-width: 62px;
      border-radius: 50%;
      object-position: start;
      object-fit: cover;
    }
    .profile-name{
      font-size: 18px;
      justify-self: center;
      font-family: 'Source Sans Pro', sans-serif;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      color: #403940;
      margin-left: 12px;
      margin-top: 6px;
      word-wrap: break-word;
    }
    .game-footer{
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    .game-footer__inner{
      position: relative;
      width: 100%;
      display: flex;
      padding: 0 8px;
    }
    .game-footer__btn{
      width: 45px;
      height: 45px;
      background: #50374D;
      border-radius: 50%;
    }
    .game-footer__firstbtn{
      margin-right: 6px;
      color: #fff;
      background: url(../img/buttons-bg/return.svg) center / 90% 90%;
    }
    .timer-body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .game-footer__user-name{
      margin-left: auto;
      
    }
    .timer-body__circle{
      position: relative;
      background-color: #fff;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 2px solid #443740;
      align-items: center;
      justify-content: center;
    }
    .timer-body__arrow{
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      /* transform: translateX(-50%); */
      background-color: #443740;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
    }
    .timer-body__arrow-item{
      transition: all 0.4s ease;
    }
    .timer-body__item--one{
      background-color: transparent;
      border-radius: 60% 0 0 0;
    }
    .timer-body__item--two{
      background-color: transparent;
      border-radius:  0 60% 0 0;
    }
    .timer-body__item--three{
      background-color: transparent;
      border-radius: 0 0 0 60%;
    }
    .timer-body__item--four{
      background-color: transparent;
      border-radius: 0 0 60% 0;
    }
    /* .timer-body__arrow::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-top: 14px transparent solid;
      border-left: 14px transparent solid;
      border-right: 14px transparent solid;
      border-bottom: 14px transparent solid;
      background-color: transparent;
      border-radius: 50%;
    } */
    .game-footer__user-icon-inner  {
      margin-right: 10px;
    }
    .game-footer__user-name{
      font-size: 20px;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      color: #403940;
      word-wrap: break-word;
      word-break: break-all;
      margin-right: 8px;
    }
    .timer-body__counter{
      font-family: 'Nunito', sans-serif;
      font-weight: 900;
      color: #443740;
      margin-top: 4px;
      text-align: center;
    }
  }

  @media (max-width: 321px) {
  }
  /*</Media>=======================================================*/