@media (min-width: 1439px){
    .container {
		max-width: 1300px;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 1060px;
	}
    .header__logo{
        width: 100px;
        height: 50px;
    }
    .menu{
        font-size: 15px;
    }
    .menu__list-item{
        padding: 0 15px;
    }
    .search__btn{
        margin-left: 10px;
        margin-right: 10px;
    }
    .header__btn{
        padding: 20px 20px;
    }
} 

@media (max-width: 1025px) {
	.container {
		max-width: 860px;
	}
    .search__param-item{
        margin-left: 10px;
    }
    .search__param{
        font-size: 16px;
    }
    .search__param-link{
        font-size: 15px;
    }
    .experiances__country-item{
        padding: 0 14px;
    }
    .experiances__country-link{
        font-size: 22px;
    }
    .luxury__inner{
        height: 1600px;
    }
    .luxury__row{
        height: 1000px;
    }
    .luxury__item-text{
        margin-top: 40px;
        font-size: 28px;
    }
    .luxury__count-places{
        max-width: 110px;
        margin-bottom: 30px;
    }
    .luxury__counter{
        font-size: 30px;
    }
    .luxury__title-item{
        font-size: 39px;
    }
    .book__row{
        gap: 20px;
    }
    .book__row-item--supercars{
        background: url(../images/book/supercars.webp) center/ cover no-repeat;
    }
    .book__row-text{
        font-size: 34px;
    }
    .customise__subscribe-title{
        font-size: 58px;
    }
    .customise__subscribe-btnwrapper{
        // max-width: 40%;
    }
    .customise__subscribe-btn{
        padding-right: 70px;
        padding-left: 70px;
    }
    .customers__item-img-wrapper{
        display: flex;
        margin-bottom: 20px;
    }
    .customers__item-text{
        font-size: 18px;
        line-height: 30px;
    }
    .slider__track{
        gap: 15px;
    }
    .customers__item-inner{
        padding-top: 40px;
    }
    .customers__item-author{
        padding-top: 40px;
    }
    
    .menu__list-item{
        padding: 0 12px;
    }
    .customers{
        height: 1460px;
    }
    .main__suptitle{
        margin-bottom: 108px;

    }
    .main__title{
        line-height: 90px;
    }
    .menu{
        font-size: 14px;
    }
}

@media (max-width: 790px) {
	.container {
		max-width: 95%;
	}
    .menu{
        display: none;

    }
    .main__title{
        font-size: 140px;
    }
    .header__burger{
        align-self: flex-end;
        position: relative;
        width: 30px;
        display: grid;
        align-items: center;
        grid-template: repeat(3, 1px) / 60px;
        z-index: 11;
        transition: all 0.4s ease 0s;
        cursor: pointer;
        row-gap: 12px;
    
            span{
                transition: all 0.4s ease 0s;
                // position: relative;
                height: 1.5px;
                width: 60px;
                background-color: #fff;
            }
            &::before{
                margin-left: auto;
                width: 40px;
                height: 1.5px;
                content: '';
                position: relative;
                background-color: aliceblue;
                bottom: 0;
                left: 0;
                transition: all 0.4s ease 0s;
            }
            
            &::after{
                width: 60px;
                height: 1.5px;
                content: '';
                position: relative;
                background-color: aliceblue;
                top: 0;
                right: 0;
                transition: all 0.4s ease 0s;
            }
            
        }
        
    .experiances__slider-wrapper{
            margin: 0;
    }  
}

@media (max-width: 576px) {
	.container {
		width: 100%;
        max-width: 100%;
	}
}

@media (max-width: 460px) {
    .header__inner{
        position: relative;
        // display: grid;
        align-items: center;
        justify-content: space-between;
        // grid-template: minmax(50px, 80px) / minmax(88px, 88px) minmax(60px, 100px) minmax(30px, 30px);
    }
    
    .header__btn{
        width: 88px;
        word-break: initial;
        padding: 8px 10px;
        border-radius: 61px;
        display: flex;
        justify-content: center;
        text-align: center;
        // margin-right: 40px;
            // font-size: 10px;
            border: 1px solid #fff;
            background: transparent;
            &::after{
                content: '';
                background: transparent;
            }
    }
	.header__logo-link{
        display: flex;
        width: 100px;
        height: 40px;
        order: 2;
    }
    .header__logo{
        width: 100%;
        height: 40px;
    }
    .menu{
        width: unset;
        display: flex;
        order: 1;
    }
    .menu__list-item{
        display: none;
    }
    .menu__list-btn{
        display: flex;
        margin: 0;
    }
    .header__burger{
        position: relative;
        justify-content: flex-end;
        align-items: flex-start;
        width: 80px;
        top: 0;
        transform: translateY(-20%);
        right: 0;
        order: 3;
    }
    .menu__list-item{
        margin: 0;
        padding: 0;
    }
    .header__container{
        margin: 20px 20px;
    }
    .main__suptitle{
        margin-top: 80px;
        margin-bottom: 30px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 98.5%;
        text-align: center;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #0C0B10;
    }
    .main__title{
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 64.94%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FCFCFC;
    }
    .search__title{
        min-width: 85%;
        width: 85%;
        
    }
    .main__title-continue{
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FCFCFC;
        margin-bottom: 40px;    
    }
    .main{
        background: none;
        background: url(../images/main-mobile/sky.webp) top center/100% 620px no-repeat;
        &::before{
            height: 430px;
            // background: none;
            background: url(../images/main-mobile/back-main-bg.webp) center center/100% 430px no-repeat;
            top: 248px;
        }
        &::after{
            // background: none;
            background: url(../images/main-mobile/mountains.webp) top center / 100% 336px no-repeat;
            top: 336px;
        }
    }
    .main__overlay{
        background: none;
        top: 309px;
        background: url(../images/main-mobile/main-bg.webp) top center/100% 320px no-repeat;
    }
    .main__clouds{
        background: none;
        // background: url(../images/main/clouds.webp) center/cover no-repeat) ,
        // linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
        // background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
        // linear-gradient(0deg, rgba(226,211,206,0) 0%, #E2D3CE 99.99%);
        background-blend-mode: multiply;
        // opacity: .8;
        height: 421px;
        // transform: rotate(180deg);
    }
    .main__title{
        &::after{
            display: none;
        }
    }
    .search{
        // max-height: 418px;
        overflow: hidden;
    }
    .search__inner{
        // height: 416px;
    }
    .search__params-row{
        padding-top: 24px;
        display: grid;
        grid-template: minmax(40px, 50px) minmax(40px, 50px) minmax(40px, 50px) minmax(40px, 50px) minmax(40px, 50px) / repeat(2, 1fr);
        row-gap: 24px;
    }
    .search__param-item{
        margin: 0;
        padding: 0;
        padding-left: 30px;
        margin-left: 30px;
        // margin-top: 24px;
        grid-column-start: span 2;
    }
    .search__param-item--destination{
        // grid-column-start: span 2;
    }
    .search__param-item--travel{
    }
    .search__param-item--calendar{
        grid-column-start: span 1;
    }
    .search__param-item--travelers{
        grid-column-start: span 1; 
    }
    .search__btn{
        margin-top: 18px;
        grid-column-start: span 2;
        width: 95%;
        margin-bottom: 32px;
    }
    .experiances__title{
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #0C0B10;
    }
    .experiances__country-list{
        display: grid;
        grid-template: 1fr 1fr / repeat(4, 100px);
        row-gap: 20px;
    }
    .experiances__country-item{
        padding: 0;
        margin: 0;
    }
    .experiances__country-link{
        margin: 0;
        font-size: 20px;

    }
    .luxury__row{
        padding-top: 150px;
        display: flex;
        height: 800px;
    }
    .luxury__item{
        max-height: 500px;
        width: 100%;
        min-width: 100%;
    }
    .luxury__title-item{
        position: absolute;
        top: 0;
        right: 0;
    }
    .slider__item{
        min-height: 560px;
    }
    .luxury__offset{
        padding-top: 70px;
    }
    .luxury__title-item{
        display: grid;
        grid-template: 1fr / 1fr 140px;
        gap: 20px;
        
    }
    .luxury__btn{
         padding-left: 0;
         padding-right: 0;
         text-align: center;
    }
    .luxury__title{
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 44px;
        color: #0C0B10;
    }
    .luxury__item{
        min-height: 560px;
    }
    .luxury::after{
        height: 50%;
    }
    .luxury__inner{
        height: 1300px;
    }
    .book__row{
        grid-template: unset;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
    .lux-trips__title-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: unset;
    }
    .lux-trips__title{
        width: 160px;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #0C0B10;
        margin-bottom: 23px;
    }
    .lux-trips__title-text{
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        width: 100%;    
        font-size: 17px;
        line-height: 179.8%;
        color: #000000;
    }
    .lux-trips__content-uptext{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .lux-trips__inner{
        padding-top: 150px;
    }
    .lux-trips__content-uptext{
        margin-left: 20px;
    }
    .lux-trips{
        top: 0;
        margin-top: -370px;
    }
    .lux-trips__content-item{
        width: 100%;
    }
    .lux-trips__content-itemrow{
        margin: 0;
        width: 100%;
        margin-left: -70px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        height: 100%;
        row-gap: 40px;
    }
    .lux-trips__content-img{
        position: relative;
        right: 100px;
    }
    .lux-trips__content-itemtext{
        width: 100%;
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;
        word-wrap: break-word;
        color: #0C0B10;
        order: 3;
    }
    .lux-trips__content-smalltext{
        width: unset;
        // margin-bottom: 40px;
    }
    .lux-trips__content-btn{
        width: 90%;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #0C0B10;
        margin-top: 50px;
    }
    .lux-trips--margine{
        margin-top: 40px;
    }
    .book--absolute{
        margin-bottom: 0;
    }
    .customise__title{
        max-width: 340px;
        margin-top: 100px;
        font-size: 43px;
        line-height: 44px;
        text-align: center;
        color: #0C0B10;
        margin-bottom: 40px;
    }
    .customise__num-img{
        position: relative;
        padding: 53px 34px 52px 34px;
        margin-right: 18px;
        
        // &::after{
        //     content: '';
        //     position: absolute;
        //     width: 1px;
        //     height: 100%;
        //     background-color: #fff;
        //     bottom: 0;
        //     right: 50%;
        //     transform: translateX(-50%);
        //     z-index: 10;
        // }
    }
    .customise__item{
        padding-bottom: 65px;
    }
    .customise__num-img{
        font-size: 49px;
    }
    .customise__btn{
        padding: 14.5px 20px;
    }
    .customise__img-content-wrapper{
        padding: 74px 15px 72px 15px;
        width: 100%;
        max-width: 100%;
    }
    .customise__subscribe-title{
        font-size: 44px;
        line-height: 44px;
        text-align: center;
    }
    .customise__subscribe-text{
        font-size: 18px;
        line-height: 24px;
        margin: 0 auto;
        width: 158px;
        text-align: center;
    }
    .customise__img-content{
        background: url(../images/customize/bg-bottom.webp) top left / cover no-repeat;
    }
    .customise__subscribe-label{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .customise__subscribe-email{
        position: unset;
        display: flex;
        border: 1px solid #fff;
        border-radius: 95px;
        // text-align: center;
        padding: 13px 30px 13px 30px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.14);

        &::placeholder{
            text-align: center;
        }
    }
    .customise__subscribe-btnwrapper{
        position: unset;
    }
    .customise__subscribe-btnwrapper{
        display: flex;
        justify-content: center;
        margin-top: 60px;

        &:active{
            outline: none;
        }
        &:focus{
            outline: none;
        }
    }
    .customise__subscribe-btn::before{
        position: absolute;
        width: 90%;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 0;
        background: url(../images/customize/subscribe-btn.svg) center center/100% 100% no-repeat;
        

    }
    .customise__subscribe-btn{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: relative;
        &:active{
            outline: none;
        }

    }
    
    .customise__subscribe-label{
        height: unset;
        backdrop-filter:unset;
        border-radius: unset;
        background: unset;
    }
    .customise__subscribe-inner{
        max-width: unset;
    }
    .customers__margin{
        margin-top: 340px;
    }
    .customers__btn-next{
        top: 0;
        transform: unset;
    }
    .customers__item-inner{
        padding: 70px 20px 60px 20px;
        justify-content: center;
        align-items: center;
    }
    .customers__row-inner{
        padding-bottom: 60px;
    }
    .slider__track{
        row-gap: 0;
        gap: 0;
    }
    .experiances__slider{
        gap: 15px;
    }
    .customers__contact-inner{
        backdrop-filter: blur(4px);
    }
    .footer__logo{
        width: 109px;
    }
    .footer{
        height: 750px;
    }
    .footer__menu-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .footer__menu-itembtn{
       grid-column-start: span 2;
       order: -1;
    }
    .footer__menu-item{
        margin-top: 40px;
    }
    .footer__inner{
        height: unset;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .footer__menu{
        margin-top: 0;
    }
    .footer__bottom{
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer__polcy{
        margin-top: 8px;
    }
    // position: absolute;
    // width: 90%;
    // margin: 0 auto;
    // top: 50%;
    // -webkit-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    // right: 0;
    // left: 0;
    // background: url(../images/customize/subscribe-btn.svg) center center/100% 100% no-repeat;
}